body {
  font-family: 'rubik';
  margin: 0px;
  padding: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
background: rgb(35,37,38);
background: linear-gradient(90deg, rgba(35,37,38,1) 0%, rgba(65,67,69,1) 100%);
}

.mainform {
  background-color: white;
  border-radius: 10px;
  width: 25em;
  min-height: 20em;
  max-height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 4px 81px -10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 4px 81px -10px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 81px -10px rgba(0,0,0,0.6);
}

.title {
  text-align: center;
  padding-top: 15px;
  margin-bottom: -20px;
  font-size: 23px;
  cursor: pointer;
}

.form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amount,
.rating {
  padding: .5em;
}

#service,
.amountInput {
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#service:focus,
.amountInput:focus {
  outline: none;
}

select {
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: white;
  padding: 1em 5em;
  border-radius: 5px;
  background: #f14e5e;
}

a:hover {
  background: #f65968;
}

.button {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  width: 200px;
  -webkit-box-shadow:0px 1px 1px #110c11;
  -moz-box-shadow:0px 1px 1px #110c11;
  box-shadow:0px 1px 1px #110c11;
}

.output {
  border-radius: 5px;
  height: 3em;
  width: 80%;
  margin-top: 2em;
  text-align: center;
  line-height: 3em;
  font-size: 17px;
-webkit-box-shadow: -1px 27px 21px -22px rgba(0,0,0,0.47);
-moz-box-shadow: -1px 27px 21px -22px rgba(0,0,0,0.47);
box-shadow: -1px 27px 21px -22px rgba(0,0,0,0.47);
}

span,
.colouring {
  color: #f14e5e;
}

.createdBy {
  color: rgb(255,255,255, 0.5);
  font-size: 10px;
  margin-top: 15px;
}
